<?xml version="1.0"?>
<robot name="kuka_kr10r1100sixx" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_mock_hardware" default="false" />

  <xacro:include filename="$(find kuka_kr10_support)/urdf/kr10r1100sixx_macro.xacro" />

  <xacro:kuka_kr10r1100sixx prefix=""/>
</robot>
